
/* @import url(http://fonts.googleapis.com/css?family=Roboto); */

@font-face {
    font-family: 'IntelClear-Light';
    src: url('IntelClear-Light.ttf');
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #24292e;
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #24292e;
  line-height: 1.6;
  margin: 0 0 16px 0;
}

h1{
  color: #333;
  font-size: 25px;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 8px;
    color: #24292e;
    }

h3{
  font-family: "IntelClear-Light", "ClearSans-Regular", Helvetica, "Helvetica Neue", verdana, sans-serif;
  font-size: 2.0625rem;
  color: #3b404c;
}

h4 {
    font-family: 'Gruppo', cursive;
    font-weight: 800;
    font-size: 25px;
}

span.tab{
    padding: 0 40px; /* Or desired space*/
}

hl1
{
  color:#9922FF;
}

#sample_container_id {
  width: 100%;
  height: 800px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 14pt;
  text-align: left;
  margin-top: 40px;
}

.basic_link_button
{
  
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 13.6px;
  color: #24292e;
  border-radius: 3px;
  background-color: rgba(27,31,35,0.05);
  padding: 0.2em 0.4em;
  margin: 0;
}

.btngen 
{
	BACKGROUND-IMAGE: url(../images/ctl_bg.jpg);
	BORDER-BOTTOM: #cdc0b0 1px solid;
	BORDER-LEFT: #cdc0b0 1px solid;
	BORDER-RIGHT: #cdc0b0 1px solid;
	BORDER-TOP: #cdc0b0 1px solid;
	COLOR: #d06f22;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 25px;
	FONT-WEIGHT: normal;
}

pre {
  border: 1px solid #d1d5da;
  line-height: 1.45;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 13.6px;
  padding: 16px;
  overflow: auto;
  border-radius: 6px;
  background-color: #f6f8fa;
  color: #24292e;
  margin: 16px 0;
}

a.button {
    background-color: #999999;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 5px 8px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.button:hover {
    text-decoration: none;
}

.title_a
{
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2em;
  color: #FAFAFA;
  background-color: #1e3348;
  padding: 10px;
}

.title_a a
{
  color: #94a5ad;
}

.title_b
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #24292e;
  background-color: transparent;
  padding: 0;
  margin: 24px 0;
  border-bottom: 2px solid #eaecef;
  padding-bottom: 10px;
}

.title_b a
{
  color: #94a5ad;
}

.content_text_gen
{
  color: #333;
  line-height:1.4;
}

.content_text_command
{
  color: #333;
  padding-left: 3px;
  padding-right: 3px;
  color:#C30;
}

p3
{
  padding-left: 3px;
  padding-right: 3px;
  color:#C30;
}

p4
{
  font-family: 'Kalam', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 3px;
}

p5
{
	color: #333;
	font-family:'Inconsolata', sans-serif;
	padding-left: 3px;
    padding-right: 3px;
	padding-top: 0px;
    color:#CCC;
	background-color:#3381AA;
	border-radius: 3px;
}

pp
{
	color: #24292e;
	font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
	padding: 0.2em 0.4em;
	background-color: #fff5b1;
	border-radius: 3px;
	font-size: 13.6px;
	font-weight: 600;
	border: 1px solid #e1c03a;
}

.clearfix {
	clear: both;
}

.wrap {
	width: 940px;
	margin: 4em auto;
	z-index:7;
}

tab {
  margin-left: 4em;
}

nav {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 0px;
	position: relative;
	z-index:8;
}

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #444;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

/*
.menu li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
} */

/* Dropdown styles */

.menu ul {
	/*position: absolute;
	left: -9999px; */
	list-style: none;
	/*opacity: 0;
	transition: opacity 1s ease; */
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;
}


/* Persistant Hover State */
.menu li:hover a {
	background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
	background-image: linear-gradient(#ccc, #ededed);
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #222;
}

.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
}

.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#eee), to(#fff));
	background-image: linear-gradient(#ededed, #fff);
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
}


